<div  fxLayout="column" fxLayoutAlign="space-evenly stretch">
	<app-header fxLayout="row" fxLayoutAlign="space-between stretch"></app-header>
	<app-banner style="padding-top: 2rem;" fxLayout="row" fxLayoutAlign="space-between stretch"></app-banner>
	<app-service fxLayout="row" fxLayoutAlign="space-between stretch"></app-service>
	<app-about-us fxLayout="row" fxLayoutAlign="space-between stretch"></app-about-us>
	<app-contact-form fxLayout="row" fxLayoutAlign="space-between stretch"></app-contact-form>
	<app-footer fxLayout="row" fxLayoutAlign="center start"></app-footer>
</div>
