<div fxLayout="column" fxLayoutAlign="space-between stretch">
  <app-header fxLayout="row" fxLayoutAlign="space-between stretch"></app-header>
  <app-banner fxLayout="row" fxLayoutAlign="space-between stretch"></app-banner>
  <app-service fxLayout="row" fxLayoutAlign="space-between stretch"></app-service>
  <app-about-us fxLayout="row" fxLayoutAlign="space-between stretch"></app-about-us>
  <app-contact-form fxLayout="row" fxLayoutAlign="space-between stretch"></app-contact-form>
  <app-footer fxLayout="row" fxLayoutAlign="space-between stretch"></app-footer>
</div>
