<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

		<label class="form-control"><span>Name:</span>
			<input type="text" formControlName="name"/>
		</label>

		<label class="form-control" [(ngModel)]="emailValue"><span>Mail:</span>
			<input type="email" formControlName="mail"/>
		</label>

		<label class="form-control"><span>Message:</span>
				<input type="text" formControlName="message"/>
		</label>

		<button type="submit" [disabled]="!contactForm.valid">Kontakt aufnehmen"</button>
</form>
