<page
  fxLayout="column"
  fxLayoutAlign="space-between stretch"
  name="contact"
  title="Kontakt"
  class="container"
>
  <div fxLayout="row wrap" fxLayoutAlign="space-around stretch">
    <app-info-label
      icon="business"
      title="Adresse"
      [value]="['Im Gewerbegebiet Pesch 17, 50767 Köln']"
    ></app-info-label>
    <app-info-label
      href="tel:+492219999"
      icon="call"
      title="Telefon"
      [value]="['0221/353151', '08:00 - 16:00 Uhr']"
    ></app-info-label>
    <app-info-label
      href="mailto://kontakt@held-der-elektrik.de"
      icon="contact_mail"
      title="Email"
      [value]="['kontakt@held-der-elektrik.de']"
    ></app-info-label>
  </div>

  <mat-divider></mat-divider>

  <mat-divider [vertical]="true"></mat-divider>

  <div
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign="space-between stretch"
    fxLayoutGap="10"
  >
    <agm-map
      [disableDefaultUI]="true"
      [latitude]="latitude"
      [longitude]="longitude"
      [zoom]="zoom"
      [disableDoubleClickZoom]="true"
      [maxZoom]="zoom"
      [minZoom]="zoom"
      fxFlex="70%"
      fxHide.xs="true"
      fxHide.sm="true"
      fxHide.md="false"
      fxHide="false"
      style="height: 600px !important;"
    >
      <agm-marker
        [label]="label"
        [latitude]="latitude"
        [longitude]="longitude"
      ></agm-marker>
    </agm-map>

    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="contactForm"
      class="form-control"
      fxFlex="25"
      fxLayout="column nowrap"
      fxLayoutAlign="space-evenly stretch"
    >
      <div fxLayout="row" fxLayoutAlign="center stretch">
        <br fxHide.xs="false" fxHide.sm="false" fxHide="true" />
        <br fxHide.xs="false" fxHide.sm="false" fxHide="true" />
        <br fxHide.xs="false" fxHide.sm="false" fxHide="true" />
        <br fxHide.xs="false" fxHide.sm="false" fxHide="true" />
        <br fxHide.xs="false" fxHide.sm="false" fxHide="true" />
        <br fxHide.xs="false" fxHide.sm="false" fxHide="true" />
        <br fxHide.xs="false" fxHide.sm="false" fxHide="true" />
        <br fxHide.xs="false" fxHide.sm="false" fxHide="true" />
        <span class="mat-headline" fxHide.xs="true" fxHide.sm="true">
          Wir freuen uns über Ihren Anruf oder über Ihre Nachricht hier über das
          Kontaktformular.
        </span>
      </div>

      <mat-form-field fxLayout="column" fxLayoutAlign="space-between stretch">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput type="text" />
        <mat-error *ngIf="!contactForm.get('name')?.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxLayout="column" fxLayoutAlign="space-between stretch">
        <mat-label>Email</mat-label>
        <input formControlName="mail" matInput type="email" />
        <mat-error
          *ngIf="
            contactForm.get('mail')?.hasError('email') &&
            !contactForm.get('mail')?.hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="contactForm.get('mail')?.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxLayout="column" fxLayoutAlign="space-between stretch">
        <mat-label>Message</mat-label>
        <textarea
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMaxRows="10"
          cdkAutosizeMinRows="1"
          cdkTextareaAutosize
          formControlName="message"
          matInput
        ></textarea>

        <mat-error *ngIf="contactForm.get('message')?.hasError('required')">
          Message is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button
        [disabled]="!contactForm.valid"
        color="primary"
        fxLayout="column"
        fxLayoutAlign="space-between stretch"
        mat-flat-button
        type="submit"
      >
        Kontakt aufnehmen"
      </button>

      <ng-template [ngIf]="submitStatus">
        <span fxLayout="column" fxLayoutAlign="space-between stretch"
          >Ein Mitarbeiter wird sich umgehend bei Ihnen melden!</span
        >
      </ng-template>
    </form>
  </div>
</page>
