<header>
	<!-- Logo -->
	<div id="ud_logo"><a href="#home"><img alt="logo" src="/assets/images/logo_image.JPG"/></a></div>

	<!-- Kontakt -->
	<div id="ud_kontakt_icon">
		<div class="ud_kontakt_icon"><span class="icon-mail-alt"></span></div>
		<div class="ud_kontakt_icon"><span class="icon-location"></span></div>
	</div>

	<!-- Navigation -->
		<nav>
			<ul id="menu">
				<li data-menuanchor="home"><a ngHref="#home">Startseite</a></li>
				<li data-menuanchor="about-us"><a href="#about-us">Über Uns</a></li>
				<li data-menuanchor="contact"><a href="#contact">Kontakt</a></li>
			</ul>
		</nav>

</header>
