.logo
	margin-right: 20px
	zoom: 2

.spacer
	flex: 1 1 auto

a
	font-family: 'Montserrat', sans-serif
	font-size: 0.8rem
	font-weight: 600

.header-title
	font-size: 1.6rem
	font-weight: bold
	letter-spacing: 3px




mat-toolbar
	position: fixed
	top: 0
	width: 100%
	z-index: 100000
