/* ############################# */
/* HTML */
/* ############################# */

@import '../shared/styles/_fonts.sass'


body,
html
	margin: 0
	padding: 0
	width: 100%
	height: 100%
	font-family: Montserrat,  sans-serif

a
	text-decoration: none

h2
	text-transform: uppercase
	text-align: center
	margin: 100px auto 0 auto
	font-size: 55px



footer,
header,
#home .ud_h2_balken,
#contact .ud_h2_balken,
#about-us,
#Leistungen,
#Leistungen .ud_leistungen ul li .ud_tag_line .ud_h3_balken
	background: #fff


#contact h2,
#home h2,
#home p,
#home .ud_button,
#contact .ud_kontakt,
#contact .ud_kontakt a,
#about-us .ud_motto_bg article .ud_motto,
#Leistungen .ud_leistungen ul li .ud_tag_line h3,
#Leistungen .ud_leistungen ul li .ud_tag_line p
	color: #fff


p,
a,
header nav ul li a,
header nav ul li,
header #ud_kontakt_icon .ud_kontakt_icon
	color: #999


footer,
footer a
	color: #666


#about-us h2,
#Leistungen h2,
header nav ul li a:hover,
header #ud_kontakt_icon .ud_kontakt_icon:hover
	color: #111


#about-us .ud_h2_balken,
#Leistungen .ud_h2_balken
	background: #111


p,
header nav ul li,
.ud_button,
footer,
#contact .ud_kontakt
	font-family: "Montserrat", sans-serif
	font-weight: 400
	line-height: 40px
	word-spacing: 3px
	font-size: 55px


header,
header #ud_kontakt_icon,
#ud_kontakt_icon .ud_kontakt_icon,
header nav ul li a,
header nav ul,
header #ud_logo,
header #ud_kontakt_icon .ud_kontakt_icon span
	transition: all 300ms
	-moz-transition: all 300ms
	-ms-transition: all 300ms
	-o-transition: all 300ms
	-transition: all 300ms


/* ############################# */
/* Header */
/* ############################# */



.ud_kontakt_icon
	float: left


header
	position: fixed
	z-index: 99
	top: 0
	left: 0
	right: 0
	width: 100%
	height: 80px
	border-bottom: 1px solid #dfdfdf


header #ud_logo
	float: left
	width: 80px
	margin: 9px 0 0 8px


header #ud_logo img
	width: 100%
	height: auto


header nav
	float: right
	height: 40px
	margin: 0
	padding: 0
	display: flex
	justify-content: flex-start
	flex-direction: row-reverse


header nav ul
	margin: 6px 8px 0 0
	padding: 0



header nav ul li
	margin: 0 40px 0 0
	padding: 0
	list-style: none
	float: left

header nav ul li a
	text-transform: uppercase
	font-size: 0.5em

