<div fxHide.xs="true" fxHide.sm="true" fxHide.md="false" fxHide.lg="false" fxLayout="column" fxLayoutAlign="space-between stretch">
  <h1 fxLayout="row" fxLayoutAlign="center stretch">Unsere Mitarbeiter</h1>

  <div
    class="content"
    fxLayoutAlign="space-evenly stretch"
    fxLayout.xs="column"
    fxLayout.sm="column"
    fxLayout.md="row wrap"
    fxLayout="row wrap"
    fxLayoutGap="16px"
  >
    <div
      fxLayout="row"
      fxFlex.xs="100%"
      fxFlex.sm="33%"
      *ngFor="let employee of employees"
    >
      <app-employee-list-card [employee]="employee"></app-employee-list-card>
    </div>
  </div>
</div>
