<page
  fxLayout="column"
  fxLayoutAlign="space-between stretch"
  name="about-us"
  title="Über Uns"
>
  <p fxLayout="row" fxLayoutAlign="space-between stretch">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
    amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
  </p>

  <app-employee-list fxLayout="row" fxLayoutAlign="space-between stretch">
  </app-employee-list>

  <p fxLayout="row" fxLayoutAlign="space-between stretch">
    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
    erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
    rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
    dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
    diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
    sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
    amet.
  </p>

  <span class="motto" fxLayout="row" fxLayoutAlign="space-between stretch">
    "Die Kunst hat das Handwerk nötiger als das Handwerk die Kunst."
  </span>

  <p fxLayout="row" fxLayoutAlign="space-between stretch">
    Collaboratively administrate empowered markets via plug-and-play networks.
    Dynamically procrastinate B2C users after installed base benefits.
    Dramatically visualize customer directed convergence without revolutionary
    ROI.
  </p>
</page>
