<mat-card class="info-card" (click)="click()">
  <mat-card-header fxLayout="column" fxLayoutAlign="space-between start">
    <mat-card-title-group fxLayout="column" fxLayoutAlign="space-between start">
      <div fxLayout="row" fxLayoutAlign="start stretch">
        <mat-icon
          fxFlexOffset="-16px"
          style="width: 20px; margin: 0 20px 0 -20px;"
          >{{ icon }}</mat-icon
        >
        <mat-card-title>{{ title }}</mat-card-title>
      </div>
    </mat-card-title-group>

    <mat-card-title-group
      fxLayout="column"
      fxLayoutAlign="space-between stretch"
      *ngFor="let val of value"
    >
      <mat-card-subtitle
        fxLayout="row"
        fxLayoutAlign="start stretch"
        fxFlexOffset="-16px"
      >
        {{ val }}
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
</mat-card>
