<page
  class="banner"
  fxLayout="column"
  fxLayout.xs="row"
  fxLayout.sm="row"
  fxLayoutAlign="space-between stretch"
  name="banner"
>
  <div
    fxLayout="row"
    fxLayout.xs="column-reverse"
    fxLayout.sm="column-reverse"
    fxLayout.md="column-reverse"
    fxLayoutAlign="space-between stretch"
	fxLayoutGap="5rem"
  >
    <div
      class="heading"
      fxLayout="column"
      fxLayoutAlign="space-between stretch"
    >
      <h1>
        {{ getBanner().name }}
      </h1>
      <br />
      <span>
        {{ getBanner().description }}
      </span>

      <a
        class="banner-action"
        color="primary"
        fxFlexAlign="stretch"
        href="#contact"
        mat-flat-button
      >
        Kontakt
      </a>
    </div>
    <div fxLayout="row">
      <img
        alt="banner"
		fxFlexAlign="end"
        src="{{ getImageUrl() }}"
      />
    </div>
  </div>
</page>
