<page
  name="banner"
  fxLayout="column"
  fxLayoutAlign="space-between stretch"
  class="container"
>
  <div
    fxLayout="row-reverse"
    fxLayoutAlign="space-between stretch"
    class="banner"
  >
    <img src="{{ getImageUrl() }}" alt="banner" />
  </div>

  <div fxLayout="column" fxLayoutAlign="space-between stretch" class="heading">
    <h1 fxLayout="row">
      {{ getBanner().name }}
    </h1>
    <br />
    <span fxLayout="row">
      {{ getBanner().description }}
    </span>

    <button
      class="banner-action"
      fxFlexAlign="start"
      mat-flat-button
      color="primary"
    >
      Kontakt
    </button>
  </div>
</page>
