*
	margin: 0
	padding: 0

.banner
	height: 30rem
	position: relative
	margin: 0 auto
	width: 100%

	img
		object-fit: contain
		width: 80%
		transform: translate(4rem, 1.5rem)

.banner-action
	margin: 2rem 0 0 0

.heading
	padding: 0
	margin: 5rem
	box-shadow: unset
	background-color: transparent
	position: absolute
	top: 50%
	width: 40%
	transform: translate(-10%, -100%)
