.content
	padding: 16px

.content > mat-card
	margin-bottom: 16px

.service-card
	border-radius: 10px

.img-box
	width: 150px
	height: 150px
	margin-right: 16px
	object-fit: cover

mat-card
	justify-content: space-between

mat-card::ng-deep.mat-card-header-text
	width: 100%

