.content
	padding: 16px

.content > mat-card
	padding-bottom: 16px

.service-card
	border-radius: 40px

.mat-card-image
	padding: 16px 0px
	border-radius: 16px

.mat-card
	max-width: 400px

.img-box
	width: 150px
	height: 150px
	margin-right: 16px

.mat-card-title
	font-size: 1.5rem
	align-content: center
	text-align: center
