


carousel
	width: 80%
	height: 600px


img
	display: block
	width: 80%
	height: 600px

	max-height: 600px !important
	min-width: 100%
	max-width: 100%
	object-fit: cover
	object-position: center
	//  You can change this to bottom, right or left depending
	// on the position you want.
